body {
  min-width: 320px;
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  display: flex;
  flex-direction: column;
}

main {
  min-height: calc(100vh - 150px);
  padding: 30px 20px;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .page {
    align-items: center;
  }

  main {
    width: 537px;
  }
}

@media only screen and (min-width: 1024px) {
  main {
    padding: 71px 0;
  }
}
